synapse/pipelines/data-ingestion/IngestSalesData.json
{
    "name": "IngestSalesData",
    "properties": {
        "description": "Ingest sales data from various sources into the data lake",
        "activities": [
            {
                "name": "CopyFromSQLServer",
                "type": "Copy",
                "dependsOn": [],
                "policy": {
                    "timeout": "0.12:00:00",
                    "retry": 3,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                },
                "userProperties": [],
                "typeProperties": {
                    "source": {
                        "type": "SqlServerSource",
                        "sqlReaderQuery": "SELECT * FROM Sales.Orders WHERE ModifiedDate >= '@{formatDateTime(adddays(utcnow(), -1), 'yyyy-MM-dd')}'"
                    },
                    "sink": {
                        "type": "ParquetSink",
                        "storeSettings": {
                            "type": "AzureBlobFSWriteSettings",
                            "copyBehavior": "PreserveHierarchy"
                        },
                        "formatSettings": {
                            "type": "ParquetWriteSettings"
                        }
                    },
                    "enableStaging": false,
                    "parallelCopies": 4,
                    "dataIntegrationUnits": 8
                },
                "inputs": [
                    {
                        "referenceName": "SqlServerSalesOrders",
                        "type": "DatasetReference"
                    }
                ],
                "outputs": [
                    {
                        "referenceName": "DataLakeRawSalesOrders",
                        "type": "DatasetReference",
                        "parameters": {
                            "year": "@formatDateTime(utcnow(), 'yyyy')",
                            "month": "@formatDateTime(utcnow(), 'MM')",
                            "day": "@formatDateTime(utcnow(), 'dd')"
                        }
                    }
                ]
            },
            {
                "name": "CopyFromCosmosDB",
                "type": "Copy",
                "dependsOn": [],
                "policy": {
                    "timeout": "0.12:00:00",
                    "retry": 3,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                },
                "userProperties": [],
                "typeProperties": {
                    "source": {
                        "type": "CosmosDbSqlApiSource",
                        "query": "SELECT * FROM c WHERE c._ts >= @{div(sub(ticks(utcnow()), 621355968000000000), 10000000)}"
                    },
                    "sink": {
                        "type": "ParquetSink",
                        "storeSettings": {
                            "type": "AzureBlobFSWriteSettings",
                            "copyBehavior": "PreserveHierarchy"
                        },
                        "formatSettings": {
                            "type": "ParquetWriteSettings"
                        }
                    },
                    "enableStaging": false,
                    "parallelCopies": 4
                },
                "inputs": [
                    {
                        "referenceName": "CosmosDbCustomerData",
                        "type": "DatasetReference"
                    }
                ],
                "outputs": [
                    {
                        "referenceName": "DataLakeRawCustomerData",
                        "type": "DatasetReference",
                        "parameters": {
                            "year": "@formatDateTime(utcnow(), 'yyyy')",
                            "month": "@formatDateTime(utcnow(), 'MM')",
                            "day": "@formatDateTime(utcnow(), 'dd')"
                        }
                    }
                ]
            },
            {
                "name": "ProcessRawData",
                "type": "SynapseNotebook",
                "dependsOn": [
                    {
                        "activity": "CopyFromSQLServer",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    },
                    {
                        "activity": "CopyFromCosmosDB",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "policy": {
                    "timeout": "0.12:00:00",
                    "retry": 2,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                },
                "userProperties": [],
                "typeProperties": {
                    "notebook": {
                        "referenceName": "ProcessSalesData",
                        "type": "NotebookReference"
                    },
                    "parameters": {
                        "input_date": {
                            "value": "@formatDateTime(utcnow(), 'yyyy-MM-dd')",
                            "type": "Expression"
                        },
                        "raw_path": {
                            "value": "raw/sales/@{formatDateTime(utcnow(), 'yyyy/MM/dd')}",
                            "type": "Expression"
                        },
                        "processed_path": {
                            "value": "processed/sales/@{formatDateTime(utcnow(), 'yyyy/MM/dd')}",
                            "type": "Expression"
                        }
                    },
                    "sparkPool": {
                        "referenceName": "SparkPool",
                        "type": "BigDataPoolReference"
                    },
                    "executorSize": "Medium",
                    "conf": {
                        "spark.dynamicAllocation.enabled": true,
                        "spark.dynamicAllocation.minExecutors": 2,
                        "spark.dynamicAllocation.maxExecutors": 8,
                        "spark.sql.adaptive.enabled": true,
                        "spark.sql.adaptive.coalescePartitions.enabled": true
                    },
                    "driverSize": "Medium",
                    "numExecutors": 4
                }
            },
            {
                "name": "DataQualityCheck",
                "type": "SynapseNotebook",
                "dependsOn": [
                    {
                        "activity": "ProcessRawData",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "policy": {
                    "timeout": "0.12:00:00",
                    "retry": 1,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                },
                "userProperties": [],
                "typeProperties": {
                    "notebook": {
                        "referenceName": "DataQualityValidation",
                        "type": "NotebookReference"
                    },
                    "parameters": {
                        "data_path": {
                            "value": "processed/sales/@{formatDateTime(utcnow(), 'yyyy/MM/dd')}",
                            "type": "Expression"
                        },
                        "quality_threshold": {
                            "value": "0.95",
                            "type": "Expression"
                        }
                    },
                    "sparkPool": {
                        "referenceName": "SparkPool",
                        "type": "BigDataPoolReference"
                    },
                    "executorSize": "Small",
                    "driverSize": "Small",
                    "numExecutors": 2
                }
            },
            {
                "name": "LoadToDedicatedSQLPool",
                "type": "Copy",
                "dependsOn": [
                    {
                        "activity": "DataQualityCheck",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "policy": {
                    "timeout": "0.12:00:00",
                    "retry": 3,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                },
                "userProperties": [],
                "typeProperties": {
                    "source": {
                        "type": "ParquetSource",
                        "storeSettings": {
                            "type": "AzureBlobFSReadSettings",
                            "recursive": true,
                            "wildcardFolderPath": "processed/sales/@{formatDateTime(utcnow(), 'yyyy/MM/dd')}",
                            "wildcardFileName": "*.parquet",
                            "enablePartitionDiscovery": false
                        }
                    },
                    "sink": {
                        "type": "SqlDWSink",
                        "preCopyScript": "TRUNCATE TABLE staging.SalesOrders",
                        "allowPolyBase": true,
                        "polyBaseSettings": {
                            "rejectType": "percentage",
                            "rejectValue": 5,
                            "rejectSampleValue": 100,
                            "useTypeDefault": true
                        },
                        "tableOption": "autoCreate",
                        "disableMetricsCollection": false
                    },
                    "enableStaging": true,
                    "stagingSettings": {
                        "linkedServiceName": {
                            "referenceName": "DataLakeStorage",
                            "type": "LinkedServiceReference"
                        },
                        "path": "staging/polybase"
                    },
                    "parallelCopies": 8,
                    "dataIntegrationUnits": 16
                },
                "inputs": [
                    {
                        "referenceName": "DataLakeProcessedSales",
                        "type": "DatasetReference",
                        "parameters": {
                            "year": "@formatDateTime(utcnow(), 'yyyy')",
                            "month": "@formatDateTime(utcnow(), 'MM')",
                            "day": "@formatDateTime(utcnow(), 'dd')"
                        }
                    }
                ],
                "outputs": [
                    {
                        "referenceName": "DedicatedSQLPoolStagingTable",
                        "type": "DatasetReference",
                        "parameters": {
                            "tableName": "staging.SalesOrders"
                        }
                    }
                ]
            },
            {
                "name": "MergeToFactTable",
                "type": "SqlServerStoredProcedure",
                "dependsOn": [
                    {
                        "activity": "LoadToDedicatedSQLPool",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "policy": {
                    "timeout": "0.12:00:00",
                    "retry": 2,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                },
                "userProperties": [],
                "typeProperties": {
                    "storedProcedureName": "[curated].[sp_MergeFactSales]",
                    "storedProcedureParameters": {
                        "ProcessDate": {
                            "value": {
                                "value": "@formatDateTime(utcnow(), 'yyyy-MM-dd')",
                                "type": "Expression"
                            },
                            "type": "String"
                        },
                        "BatchId": {
                            "value": {
                                "value": "@pipeline().RunId",
                                "type": "Expression"
                            },
                            "type": "String"
                        }
                    }
                },
                "linkedServiceName": {
                    "referenceName": "DedicatedSQLPool",
                    "type": "LinkedServiceReference"
                }
            },
            {
                "name": "UpdateProcessingLog",
                "type": "SqlServerStoredProcedure",
                "dependsOn": [
                    {
                        "activity": "MergeToFactTable",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "policy": {
                    "timeout": "0.12:00:00",
                    "retry": 1,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                },
                "userProperties": [],
                "typeProperties": {
                    "storedProcedureName": "[audit].[sp_LogPipelineExecution]",
                    "storedProcedureParameters": {
                        "PipelineName": {
                            "value": {
                                "value": "@pipeline().Pipeline",
                                "type": "Expression"
                            },
                            "type": "String"
                        },
                        "RunId": {
                            "value": {
                                "value": "@pipeline().RunId",
                                "type": "Expression"
                            },
                            "type": "String"
                        },
                        "StartTime": {
                            "value": {
                                "value": "@pipeline().TriggerTime",
                                "type": "Expression"
                            },
                            "type": "DateTime"
                        },
                        "EndTime": {
                            "value": {
                                "value": "@utcnow()",
                                "type": "Expression"
                            },
                            "type": "DateTime"
                        },
                        "Status": {
                            "value": "SUCCESS",
                            "type": "String"
                        },
                        "RecordsProcessed": {
                            "value": {
                                "value": "@activity('LoadToDedicatedSQLPool').output.rowsCopied",
                                "type": "Expression"
                            },
                            "type": "Int32"
                        }
                    }
                },
                "linkedServiceName": {
                    "referenceName": "DedicatedSQLPool",
                    "type": "LinkedServiceReference"
                }
            }
        ],
        "parameters": {
            "ProcessDate": {
                "type": "string",
                "defaultValue": "@formatDateTime(utcnow(), 'yyyy-MM-dd')"
            },
            "SourceSystem": {
                "type": "string",
                "defaultValue": "SalesSystem"
            }
        },
        "variables": {
            "ProcessingStartTime": {
                "type": "String"
            },
            "BatchId": {
                "type": "String"
            }
        },
        "folder": {
            "name": "Data Ingestion"
        },
        "annotations": [
            "sales-data",
            "daily-ingestion",
            "etl",
            "data-lake"
        ]
    }
}